* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

/* main section {
    height: 80vh;
} */

a {
    text-decoration: none;
    color: inherit;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    /* padding-top: 2em; */
    /* border: 2px red solid; */
}

header {
    /* margin: 0 auto 2em auto; */
    background-color: black;
    width: 350px;
    border-radius: 10px;
    /* padding-top: 5px; */
    /* padding-bottom:  */
}

header nav ul {
    
    font-size: 1.5em;
    color: rgb(0, 255, 0);
    list-style-type: none;
    display: flex;
    /* border: 2px green solid; */
}

header nav ul li {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 1em;
}

/* div {
    border-radius: 2px white solid;
    /* font-size: 20px; 
*/

/* #view-viz {
    height: 20vh;
    width: 20vw;
} */

#gallery {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* border: 2px blue solid; */

    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    column-gap: 10px;
    row-gap: 10px;
}

#gallery div {
    height: 250px;
    width: 325px;
    border: 1px white solid;
    /* margin-bottom: 1.5em; */
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
}

#gallery div img {
    height: inherit;
    width: inherit;
    border: 1px rgb(102, 102, 102) solid;
}

#view-viz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}